.people {
  padding: 20px;
}

.peopleCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  max-height: 100%;
  overflow-y: auto;
}

.peoplePaginationContainer {
  display: flex;
  justify-content: end;
  padding: 20px 100px 24px 0;
}
