@import "/src/assets/sass/variables";

.modal {
  .ant-modal-content {
    border-radius: 0px;
    padding: 0 0 24px 0;

    .ant-modal-close {
      color: $secondary-color;
      top: 10px;
    }

    .ant-modal-body {
      padding-top: 0;
    }
  }

  .ant-modal-header {
    background-color: $primary-color;
    border-bottom: none;
    border-radius: 0;
    padding: 8px 12px;
    text-align: center;

    .ant-modal-title {
      color: $secondary-color;
    }
  }

  .ant-modal-body {
    padding: 20px;
  }

  .ant-modal-footer {
    border-top: none;
    text-align: center;
  }
}
