@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenter() {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
